@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: #eee;
  --white: #fff;
  --boxShadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.32);
}
body {
  background-color: var(--bgColor);
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.header {
  font-family: Bebas Neue, cursive;
  /* margin: 1.5rem auto; */
  background-color: var(--white);
  padding: 1.5rem 1rem;
  box-shadow: var(--boxShadow);
}
.heading {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
}

.main {
  margin-top: 1.5rem;
  background-color: var(--white);
  padding: 2rem 0;
  box-shadow: var(--boxShadow);
}

.form {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}
.form-section {
  margin-bottom: 1rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
input {
  width: 60%;
  font: inherit;
  padding: 0.5rem;
}

.btn {
  width: 60%;
  background-color: black;
  color: var(--white);
  border: 1px solid black;
  font: inherit;
  padding: 1rem;
  box-shadow: var(--boxShadow);
  transition: all 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--white);
  border: 1px solid black;
  color: black;
}

.lucky-section {
  background-color: var(--white);
  padding: 2rem 0;
  box-shadow: var(--boxShadow);
  margin: 1.5rem auto;
}

.result {
  font-family: Bebas Neue, cursive;
  text-align: center;
  font-size: 2rem;
}

.footer {
  background-color: var(--white);
  margin: 1.5rem 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  box-shadow: var(--boxShadow);
}

.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.list-item {
  margin: 0 0.5rem;
}

.list-link {
  text-decoration: none;
  color: black;
}

small {
  display: block;
  text-align: center;
  columns: #777;
}

.img {
  width: 60%;
  margin: 0 auto;
}

.model {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-container {
  max-width: 300px;
  min-height: 30vh;
  background-color: white;
  text-align: center;
  padding: 1rem;
  box-shadow: var(--boxShadow);
}

.model-btn {
  background-color: white;
  border: 1px solid black;
  font-family: inherit;
  color: black;
  padding: 10px 20px;
}
.model-btn:hover {
  background-color: black;
  color: white;
}

.model-text {
  padding: 15px 0;
  text-align: left;
  font-size: 0.8rem;
}
